<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>TremendCalendar</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body>
    <table id="newEventTable">
        <tr>
            <td>
                Title
            </td>
            <td>
                <input type="text" id="eventTitle">
            </td>
        </tr>
        <tr>
            <td>
                Description
            </td>
            <td>
                <input type="text" id="eventDescription">
            </td>
        </tr>
        <tr>
            <td>
                Location
            </td>
            <td>
                <input type="text" id="eventLocation">
            </td>
        </tr>
        <tr>
            <td>
                <button id="newEvent">Add event</button>
            </td>
        </tr>
    </table>
  </body>
  <script src="js/jquery.min.js"></script>
  <script src="js/main.js"></script>
</html>