<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>TremendCalendar</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body>
    <div id="welcome"></div>
    <button id="addEvent">Add event to Google Calendar</button><br>
    <button id="listContacts">List Google Contacts</button>
    <div id="contacts">
    </div>
</span>
  </body>
  <script src="js/jquery.min.js"></script>
  <script src="js/main.js"></script>
  <script src="https://apis.google.com/js/client.js"></script>
  <script>
      window.onload = function(){
          handleClientLoad();
      }
  </script>
</html>