<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>TremendCalendar</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
<table id="loginTable">
    <tr>
        <td>
            Username
        </td>
        <td>
            <input type="text" id="usernameField">
        </td>
    </tr>
    <tr>
        <td>
            Password
        </td>
        <td>
            <input type="password" id="passwordField">
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="simpleLogin">Login</button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            or
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="googleLogin">Login with Google</button>
        </td>
    </tr>
</table>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>